        .vs/
        ConsoleApplication1/.vs/
        ConsoleApplication1/ConsoleApplication1.sln
        ConsoleApplication1/ConsoleApplication1.vcxproj
        ConsoleApplication1/ConsoleApplication1.vcxproj.filters
        ConsoleApplication1/ConsoleApplication1.vcxproj.user
        ConsoleApplication1/x64/